@model MVC.Models.GameResult

@{
    ViewData["Title"] = "Game Result";
}

<div class="d-flex justify-content-center">
    <h2>Game Result</h2>
</div>

<div class="d-flex justify-content-center">
    @if (User is not null && User.Identity is not null && User.Identity.IsAuthenticated)
    {
        <div style="display: flex; justify-content: center; margin-bottom: 5px;
                        background-color: @(User.Identity.Name == Model.Winner ? "#d4edda" : User.Identity.Name == Model.Loser ? "#f8d7da" : "#fff3cd"); padding: 10px;">
            @if (Model.Winner == User.Identity.Name)
            {
            <p><a asp-controller="Home" asp-action="Profile" asp-route-username="@Model.Loser" style="text-decoration: none; color: inherit;">@Model.Winner Won against @Model.Loser</a></p>
            }
            else if (Model.Loser == User.Identity.Name)
            {
            <p><a asp-controller="Home" asp-action="Profile" asp-route-username="@Model.Winner" style="text-decoration: none; color: inherit;">@Model.Loser Lost against @Model.Winner</a></p>
            }
            else if (Model.Draw && Model.Winner == User.Identity.Name)
            {
                <p><a asp-controller="Home" asp-action="Profile" asp-route-username="@Model.Loser" style="text-decoration: none; color: inherit;">@Model.Winner Drew with @Model.Loser</a></p>
            }
            else
            {
                <p><a asp-controller="Home" asp-action="Profile" asp-route-username="@Model.Winner" style="text-decoration: none; color: inherit;">@Model.Loser Drew with @Model.Winner</a></p>
            }
        </div>
    }
</div>