@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Account Management</h1>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h4>Manage Account</h4>
            <ul class="list-group">
                <li class="list-group-item">
                    <a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" asp-page="/Account/Manage/Index">Profile</a>
                </li>
                <li class="list-group-item">
                    <a class="nav-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" asp-page="/Account/Manage/TwoFactorAuthentication">Two-Factor Authentication</a>
                </li>
                <li class="list-group-item">
                    <a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" asp-page="/Account/Manage/PersonalData">View Personal Data</a>
                </li>
            </ul>
        </div>

        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}