@model List<Player>

<h2>Players</h2>

<form method="get" asp-action="Players">
    <input type="text" name="searchQuery" placeholder="Search by token or username" value="@ViewData["SearchQuery"]" />
    <button type="submit" class="btn btn-primary">Search</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Token</th>
            <th>Username</th>
            <th>Last Activity</th>
            <th>Friends</th>
            <th>Requests</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var player in Model)
        {
            <tr>
                <td><a asp-action="Profile" asp-route-token="@player.Token" style="text-decoration: none; color: inherit;">@player.Token</a></td>
                <td><a asp-action="Profile" asp-route-token="@player.Token" style="text-decoration: none; color: inherit;">@player.Username</a></td>
                <td>@player.LastActivity</td>
                <td>
                    @if (player.Friends.Count > 0)
                    {
                        @foreach (var friend in player.Friends)
                        {
                            <a asp-action="Profile" asp-route-token="@friend" style="text-decoration: none; color: inherit;">
                                @friend
                            </a>

                            @(friend != player.Friends.Last() ? ", " : "")
                        }
                    }
                    else
                    {
                        <span>empty</span>
                    }
                </td>
                <td>
                    @if (player.Requests.Count > 0)
                    {
                        @foreach (var request in player.Requests)
                        {
                            <a asp-action="Profile" asp-route-token="@request.Username" style="text-decoration: none; color: inherit;">
                                @request.Username
                            </a>

                            @(request != player.Requests.Last() ? ", " : "")
                        }
                    }
                    else
                    {
                        <span>empty</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
