@model List<PlayerView>
@Html.AntiForgeryToken()

<h2>Players</h2>

<form method="get" asp-action="Players">
    <input type="text" name="searchQuery" placeholder="Search by token or username" value="@ViewData["SearchQuery"]" />
    <button type="submit" class="btn btn-primary">Search</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Token</th>
            <th>Username</th>
            <th>Last Activity</th>
            <th>Friends</th>
            <th>Requests</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var player in Model)
        {
            <tr>
                <td><a asp-action="Profile" asp-route-token="@player.Token" style="text-decoration: none; color: inherit;">@player.Token</a></td>
                <td><a asp-action="Profile" asp-route-token="@player.Token" style="text-decoration: none; color: inherit;">@player.Username</a></td>
                <td>@player.LastActivity</td>
                <td>
                    @if (player.Friends.Count > 0)
                    {
                        @foreach (var friend in player.Friends)
                        {
                            <a asp-action="Profile" asp-route-token="@friend" style="text-decoration: none; color: inherit;">
                                @friend
                            </a>

                            @(friend != player.Friends.Last() ? ", " : "")
                        }
                    }
                    else
                    {
                        <span>empty</span>
                    }
                </td>
                <td>
                    @if (player.Requests.Count > 0)
                    {
                        @foreach (var request in player.Requests)
                        {
                            <a asp-action="Profile" asp-route-token="@request.Username" style="text-decoration: none; color: inherit;">
                                @request.Username
                            </a>

                            @(request != player.Requests.Last() ? ", " : "")
                        }
                    }
                    else
                    {
                        <span>empty</span>
                    }
                </td>
                <td>
                    @if (player.Bot == 0 && player.Roles.Count > 0 && !player.Roles.Contains(Roles.Admin) && player.Roles.Contains(Roles.User))
                    {
                        <button type="submit" class="btn btn-link p-0" onclick="suspendPlayer('@player.Token')" title="Suspend Player" style="cursor: pointer;">
                            <i class="fas fa-lock" style="font-size: 18px; color: red;" onmouseover="this.style.color='#cc0000'" onmouseout="this.style.color='red'"></i>
                        </button>
                    }

                    @if (player.Bot == 0 && player.Roles.Count > 0 && !player.Roles.Contains(Roles.Admin) && player.Roles.Contains(Roles.User))
                    {
                        <button type="button" class="btn btn-link p-0" onclick="unsuspendPlayer('@player.Token')" title="Unsuspend Player" style="cursor: pointer;">
                            <i class="fas fa-unlock" style="font-size: 18px; color: green;" onmouseover="this.style.color='#006400'" onmouseout="this.style.color='green'"></i>
                        </button>
                    }

                    @if (player.Bot == 0 && player.Roles.Count > 0 && !player.Roles.Contains(Roles.Admin) && !player.Roles.Contains(Roles.Mod))
                    {
                        <button type="submit" class="btn btn-link p-0" onclick="elevatePlayer('@player.Token')" title="Elevate rights">
                            <i class="fas fa-arrow-up" style="font-size: 18px; color: dodgerblue;"
                               onmouseover="this.style.color='blue'" onmouseout="this.style.color='dodgerblue'"></i>
                        </button>
                    }

                    @if (player.Bot == 0 && player.Roles.Count > 0 && !player.Roles.Contains(Roles.Admin) && player.Roles.Contains(Roles.Mod))
                    {
                        <button type="button" class="btn btn-link p-0" onclick="delevatePlayer('@player.Token')" title="Remove rights">
                            <i class="fas fa-arrow-down" style="font-size: 18px; color: darkorange;"
                               onmouseover="this.style.color='orange'" onmouseout="this.style.color='darkorange'"></i>
                        </button>
                    }

                    @if (player.Bot == 0 && player.Roles.Count > 0 && !player.Roles.Contains(Roles.Admin))
                    {
                        <button type="submit" class="btn btn-link p-0" onclick="deletePlayer('@player.Token')" title="Delete player">
                            <i class="fas fa-trash-alt" style="font-size: 18px; color: red;"
                               onmouseover="this.style.color='darkred'" onmouseout="this.style.color='red'"></i>
                        </button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    function suspendPlayer(token) {
        const antiForgeryToken = document.querySelector('input[name="__RequestVerificationToken"]').value;

        fetch('@Url.Action("SuspendPlayer", "Admin")', {
            method: 'POST',
            headers: {
                'RequestVerificationToken': antiForgeryToken,
                'Content-Type': 'application/json',
                'X-Requested-With': 'XMLHttpRequest'
            },
            body: JSON.stringify({ body: token })
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    window.location.reload();
                } else {
                    alert(data.message);
                }
            })
            .catch(error => console.error('Error:', error));
    }

    function unsuspendPlayer(token) {
        const antiForgeryToken = document.querySelector('input[name="__RequestVerificationToken"]').value;

        fetch('@Url.Action("UnsuspendPlayer", "Admin")', {
            method: 'POST',
            headers: {
                'RequestVerificationToken': antiForgeryToken,
                'Content-Type': 'application/json',
                'X-Requested-With': 'XMLHttpRequest'
            },
            body: JSON.stringify({ body: token })
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    window.location.reload();
                } else {
                    alert(data.message);
                }
            })
            .catch(error => console.error('Error:', error));
    }

    function elevatePlayer(token) {
        const antiForgeryToken = document.querySelector('input[name="__RequestVerificationToken"]').value;

        fetch('@Url.Action("ElevatePlayer", "Admin")', {
            method: 'POST',
            headers: {
                'RequestVerificationToken': antiForgeryToken,
                'Content-Type': 'application/json',
                'X-Requested-With': 'XMLHttpRequest'
            },
            body: JSON.stringify({ body: token })
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    window.location.reload();
                } else {
                    alert(data.message);
                }
            })
            .catch(error => console.error('Error:', error));
    }

    function delevatePlayer(token) {
        const antiForgeryToken = document.querySelector('input[name="__RequestVerificationToken"]').value;

        fetch('@Url.Action("DelevatePlayer", "Admin")', {
            method: 'POST',
            headers: {
                'RequestVerificationToken': antiForgeryToken,
                'Content-Type': 'application/json',
                'X-Requested-With': 'XMLHttpRequest'
            },
            body: JSON.stringify({ body: token })
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    window.location.reload();
                } else {
                    alert(data.message);
                }
            })
            .catch(error => console.error('Error:', error));
    }

    function deletePlayer(token) {
        const antiForgeryToken = document.querySelector('input[name="__RequestVerificationToken"]').value;

        if (!confirm("Are you sure you want to delete the player?")) {
            return;
        }

        fetch('@Url.Action("PlayerDelete", "Admin")', {
            method: 'POST',
            headers: {
                'RequestVerificationToken': antiForgeryToken,
                'Content-Type': 'application/json',
                'X-Requested-With': 'XMLHttpRequest'
            },
            body: JSON.stringify({ body: token })
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    window.location.reload();
                } else {
                    alert(data.message);
                }
            })
            .catch(error => console.error('Error:', error));
    }
</script>