@model List<Game>

<h2>Games</h2>

<form method="get" asp-action="Games">
    <input type="text" name="searchQuery" placeholder="Search by player token" value="@ViewData["SearchQuery"]" />
    <button type="submit" class="btn btn-primary">Search</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Token</th>
            <th>Description</th>
            <th>Status</th>
            <th>Turn</th>
            <th>First</th>
            <th>FColor</th>
            <th>Second</th>
            <th>SColor</th>
            <th>Rematch</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var game in Model)
        {
            <tr>
                <td>@game.Token</td>
                <td>@game.Description</td>
                <td>@game.Status</td>
                <td>@game.PlayersTurn</td>
                <td><a asp-action="Profile" asp-route-token="@game.First" style="text-decoration: none; color: inherit;">@game.First</a></td>
                <td>@game.FColor</td>
                <td>
                    @if (game.Second != null)
                    {
                        <a asp-action="Profile" asp-route-token="@game.Second" style="text-decoration: none; color: inherit;">
                            @game.Second
                        </a>
                    }
                    else
                    {
                        <span>null</span>
                    }
                </td>
                <td>@game.SColor</td>
                <td>
                    @if (game.Rematch != null)
                    {
                        <a asp-action="Profile" asp-route-token="@game.Rematch" style="text-decoration: none; color: inherit;">
                            @game.Rematch
                        </a>
                    }
                    else
                    {
                        <span>null</span>
                    }
                </td>
                <td>@game.Date</td>
            </tr>
        }
    </tbody>
</table>
