@model List<GameResult>

<h2>Game Results</h2>

<form method="get" asp-action="Results">
    <input type="text" name="searchQuery" placeholder="Search by token" value="@ViewData["SearchQuery"]" />
    <button type="submit" class="btn btn-primary">Search</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Token</th>
            <th>Winner</th>
            <th>Loser</th>
            <th>Draw</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var result in Model)
        {
            <tr>
                <td>@result.Token</td>
                <td><a asp-action="Profile" asp-route-token="@result.Winner" style="text-decoration: none; color: inherit;">@result.Winner</a></td>
                <td><a asp-action="Profile" asp-route-token="@result.Loser" style="text-decoration: none; color: inherit;">@result.Loser</a></td>
                <td>@result.Draw</td>
                <td>@result.Date</td>
            </tr>
        }
    </tbody>
</table>